<div class="container m-auto soft-shadow rounded my-5">
    <div class="row">
        <div id="img-bg" class="col-md-6"></div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Contato</h1>
                    
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="nome" type="text" class="form-control"name="nome" id="nome" placeholder="Nome" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]="email" type="text" class="form-control"email="email" id="email" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <label for="mensagem">Digite sua Mensagem</label>
                        <textarea [(ngModel)]="mensagem" class="form-control" name="mensagem" id="mensagem" placeholder="Mensagem" cols="30" rows="3" required></textarea>
                    </div>
  
                    <div class="d-flex justify-content-center m-3">
                        <button type="submit" class="btn btn-outline-danger" routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-outline-success" (click)="enviar()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>