.cart{
    min-height: 78vh;
}

img{
    height: 150px;
    margin: 0 10px;
    object-fit: contain;
}

.borderRightBottom{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.borderBottom{
    border-bottom: 1px solid #000;
}

.borderRight{
    border-right: 1px solid #000;
}