<div class="cart d-flex justify-content-center">
    <div class="container m-auto soft-shadow rounded my-5">
        <div class="row d-flex flex-row align-items-center">
            <div class="col-md-8 borderRightBottom pt-3">
                <h3 class="">Minhas Compras</h3>
            </div>
            <div class="col-md-4 d-flex justify-content-end borderBottom pt-3">
                <h3 class="">Resumo do Pedido</h3>
            </div>
        </div>

        <div class="row d-flex flex-row align-items-center">
            <div class="col-md-8 d-flex mt-2 borderRight">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card mt-5 no-border" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="{{ produto.imagem }}"
                                        class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body no-border">
                                        <h5 class="card-title">{{ produto.nome }}</h5>
                                        <h5>R${{ produto.preco }}</h5>
                                        <p class="card-text mt-3">{{ produto.descricao }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center mt-4 pl-4">
                        <div class="row d-flex align-items-center w-70">
                            <label for="quantity">Quantidade:</label>
                            <input type="number" id="quantity" name="quantity" min="1" value="{{ produto.quantidade }}">
                            <label for="preco">Preço:</label>
                            <input type="number" id="preco" name="preco" min="1" value="{{ produto.preco }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Subtotal</h5>
                        <hr>
                        <h5>Total</h5>
                    </div>
                    <div class="col-md-6">
                        <input class="w-100" type="number" id="subtotal" name="subtotal" value="{{ produto.preco }}">
                        <hr>
                        <input class="w-100" type="number" id="total" name="total" min="1">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center align-items-center m-3">
                            <button type="submit" class="btn btn-outline-danger" routerLink='/store'>Cancelar</button>
                            <button type="submit" class="btn btn-outline-success" (click)="comprar()" >Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>