.cart{
    min-height: 78vh;
}

.borderRightBottom{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.borderBottom{
    border-bottom: 1px solid #000;
}

.borderRight{
    border-right: 1px solid #000;
}