<div class="container m-auto soft-shadow rounded my-5">
    <div class="row">
        <div id="img-bg" class="col-md-6"></div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="text-center">Alterar</h1>

                    <div class="form-group"> 
                        <label for="nome">Usuárrio</label>
                        <input [(ngModel)]="usuario.nome" type="text"  class="form-control"name="nome" id="nome" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]="usuario.email" type="text" class="form-control"name="email" id="email" placeholder="Digite seu email">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input [(ngModel)]="usuario.senha" type="password" class="form-control"name="senha" id="senha" placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input [(ngModel)]="usuario.cep" type="text" class="form-control"name="cep" id="cep" placeholder="Digite seu CEP">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário</label>
                        <select [(ngModel)]="usuario.tipo" class="form-control" name="tipo" id="tipo">
                            <option>Selecione o tipo de usuário</option>
                            <option value="Consumidor">Consumidor</option>
                            <option value="Produtor">Produtor</option>
                            <option value="PDR">Ponto de Retirada</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="imagem">Imagem</label>
                        <input [(ngModel)]="usuario.imagem" type="img" class="form-control"imagem="imagem" id="imagem"
                        placeholder="Digite a url da imagem">

                    </div>

                    <div class="d-flex justify-content-center m-3">
                        <button type="submit" class="btn btn-outline-danger" (click)='delete()'>Apagar</button>
                        <button type="submit" class="btn btn-outline-success" (click)='update()'>Atualizar</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>