<div class="confirm d-flex justify-content-center">
    <div class="container m-auto soft-shadow rounded my-4">
        <div class="row d-flex flex-row align-items-center">
            <div class="col-md-12 d-flex justify-content-center">
                <h1>COMPRA REALIZADA COM SUCESSO!</h1>
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-5">
                <p>
                    UM EMAIL FOI ENVIADO PARA O PDR (Ponto de Retirada)
                </p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <p>
                    Logo entrarão em contato para organizar a retirada
                </p>
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-4">
                <a class="btn btn-outline-success" routerLink="/store">Comprar Mais!</a>
            </div>
        </div>
    </div>
</div>