<div class="ofertas">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <h1 class="text-white pt-4">Meus produtos</h1>
            </div>
            <div class="col-md-6">
                <form class="form-inline d-flex align-items-center mt-3">
                    <input type="text" class="form-control" name="buscaProdutos" placeholder="Buscar">
                    <button class="btn btn-primary my-2 mx-2" type="submit">
                        Pesquisar
                    </button>
                </form>
            </div>
        </div>
        <!-- Título e Busca -->

        <div class="row row-cols-1 row-cols-md-4 g-4 mt-3 mb-2 pb-4">
            <div class="col">
                <div class="card">
                    <img src=""
                        class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-center"></h4>
                        <h5 class="text-center">R$/kg</h5>

                        <div class="d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-outline-success">Comprar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
